fastapi
uvicorn[standard]
sqlalchemy
ultralytics
supervision
opencv-python-headless
python-multipart
websockets
pydantic
pydantic-settings
alembic
yt-dlp[default]>=2025.1.15
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
psutil
certifi
vidgear[asyncio]
